@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="css/home.css">

<div class="text-center">
    <h1 class="display-4">BLABBA</h1>
    <p>What are people around you BLABBIN about??</p>
</div>
